.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

a {
    border: 1px solid black;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
}